:root {
    --rojo: #DC0000;
    --rojo-oscuro: #780206;
    --azul: #0550FF;
    --azul-oscuro: #0000C8;
    --blanco: #FFFFFF;
    --dorado: #FFD700;
    --gris: #808080;
    --negro: #222222;
    --fuente-principal: "Open Sans", sans-serif;
    --fuente-secundaria: "Bebas Neue", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 12vh;
    display: flex;
    background-color: var(--rojo);
}

h1,
h2,
h4,
h5,
h6 {
    color: var(--blanco);
    font-family: var(--fuente-principal);
    font-weight: 600;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

a {
    color: var(--blanco);
    text-decoration: none;
    font-family: var(--fuente-principal);
    font-weight: 300;
}

nav {
    display: flex;
}

h1 {
    font-family: var(--fuente-secundaria);
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    line-height: 1;
}

h1+p {
    color: var(--blanco);
}

span {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: var(--negro);
}

footer>h3 {
    color: var(--blanco);
    font-family: var(--fuente-secundaria);
    font-size: 3rem;
}

address {
    margin-top: 1rem;
    color: var(--blanco);
}

.logo {
    width: 100px;
    height: 100px;
}

.titulo-cabecera {
    display: flex;
    align-items: center;
}

.barra-navegacion {
    width: 60vw;
}

.espaciado {
    margin: 1rem;
}

.centrar-logo {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.portada-principal {
    display: flex;
    width: 100vw;
    height: 85vh;
}

.portada-izq {
    width: 40vw;
    background-color: var(--rojo);
    padding: 4rem;
}

.portada-drch {
    width: 60vw;
    background-image: url(../images/portada-pizza.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5),
        0 -5px 5px -5px rgba(0, 0, 0, 0.5),
        0 5px 5px -5px rgba(0, 0, 0, 0.5);
}

h1+p {
    margin-bottom: 2rem;
}

.great {
    color: var(--dorado);
}

.good {
    color: var(--negro);
}

.in {
    color: var(--gris);
}

.redes-sociales {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icono {
    width: 35px;
    height: 35px;
    margin: .5rem;
    cursor: pointer;
    transition: 0.4s ease;
}

.icono:hover {
    width: 40px;
    height: 40px;
}

.icono-ubicacion {
    width: 20px;
    height: 20px;
}

.boton {
    background-color: transparent;
    border: .1rem solid var(--dorado);
    color: var(--dorado);
    padding: .5rem;
    border-radius: .1rem;
    transition: 0.4s ease;
}

.boton:hover {
    background-color: var(--dorado);
    color: var(--negro);
}

.boton-secundario {
    margin-top: 1rem;
    padding: 1rem 3rem;
    border-radius: .1rem;
    display: flex;
    align-items: center;
    background-color: var(--rojo);
    color: var(--blanco);
    border: none;
    cursor: pointer;
    transition: 0.4s ease;
}

.boton-secundario:hover {
    background-color: var(--rojo-oscuro);
}