:root {
    --rojo: #DC0000;
    --rojo-oscuro: #780206;
    --azul: #0550FF;
    --azul-oscuro: #0000C8;
    --blanco: #FFFFFF;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--blanco);
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

header {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    background-color: var(--rojo);
    border-bottom: 10px solid var(--rojo-oscuro);
}

section { 
    height: 80vh;
}
video {
    width: 100;
}

ul {
    list-style-type: none;
}

a {
    color: var(--blanco);
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

nav {
    display: flex;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centrar-logo {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 125px;
    height: 125px;
}

.menu-principal {
    width: 60vw;
}

.espaciado {
    margin: 1rem;
}

.menu-secundario {
    min-width: 20vw;
    justify-content: center;
}

.icono {
    width: 25px;
    height: 25px;
    margin: .5rem;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}