:root {
    --rojo: #DC0000;
    --rojo-oscuro: #780206;
    --azul: #0550FF;
    --azul-oscuro: #0000C8;
    --blanco: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--blanco);
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

header {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    background-color: var(--rojo);
    border-bottom: 10px solid var(--rojo-oscuro);
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.fondo-negro {
    width: 100vw;
    max-height: 80vh;
    background-color: rgba(0, 0, 0, 0.7);
}

video {
    width: 100vw;
    z-index: -1;
}

ul {
    list-style-type: none;
}

a {
    color: var(--blanco);
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

nav {
    display: flex;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    color: black;
}

.centrar-logo {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 125px;
    height: 125px;
}

.menu-principal {
    width: 60vw;
}

.espaciado {
    margin: 1rem;
}

.menu-secundario {
    min-width: 20vw;
    justify-content: center;
}

.icono {
    width: 25px;
    height: 25px;
    margin: .5rem;
    cursor: pointer;
}

.titulo {
    display: flex;
    align-items: center;
}

.version-movil {
    display: none;
}

.ubicacion {
    display: none;
}

.boton {
    background-color: transparent;
    border: .1rem solid var(--azul-oscuro);
    color: var(--azul-oscuro);
    padding: .5rem;
}

.boton:hover {
    background-color: var(--azul-oscuro);
    color: var(--blanco);
}

@media only screen and (max-width: 767px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30vh;
    }

    .icono {
        display: none;
    }

    .ubicacion {
        display: flex;
    }

    .inicio {
        display: none;
    }

    .version-pc {
        display: none;
    }

    .version-movil {
        display: block;
        visibility: visible;
    }

    video {
        width: 100vw;
    }
}