* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    height: 15vh;
}

section {
    background-color: aqua;
    height: 80vh;
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

nav {
    display: flex;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centrar-logo {
    width: 20vw;
    display: flex;
    justify-content: center;
}

.logo {
    width: 125px;
    height: 125px;
}

.menu-principal {
    width: 60vw;
}

.espaciado {
    margin: 1rem;
}

.menu-secundario {
    min-width: 20vw;
    justify-content: center;
}

.icono {
    width: 20px;
    height: 20px;
    margin: .5rem;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}